.postSection {
    display: flex;
    padding-left: 3rem;
    padding-bottom: 3rem;
    flex-direction: column;
    max-height: 100vh;
    overflow: auto;
}

.postInformation {
    max-width: 100%;
    padding: 3rem;
}

@media (max-width: 575.98px) {
    .postInformation {
        padding: 1rem;
        max-width: 100%;
    }

    .postSection {
        padding-left: 0rem;
        padding-bottom: 0rem;
    }
}